<article>
    <div class="product-wrapper">
        <div class="product-badge">Nuevo</div>
        <a href=""> 
            <picture>
                <img src="<%= item.imagen %>" alt="<%= item.nombre %>">
            </picture>
            <div>
                <p class="shop-parrafo">
                    <%= item.categoria %>
                </p>
                <h4 class="shop-h4">
                    <%= item.nombre %>
                </h4>
                <p class="shop-prix">$ <%= item.precio %>
                </p>
                <p class="shop-cuotas">3 CUOTAS SIN INTERÉS</p>
            </div>
        </a>
    </div>
</article>
